body {
    background-color: #ccc3a1;
}

.addBtn {
    background: #eee;
    color: #444;
    padding: 10px;
    margin: 10px;
    border: 2px solid #888;
    cursor: pointer;
    border-radius: 5px;
  }
  