{% extends 'base.html' %}

{% block title %}Editor{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Editor</h1>
        <form method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Название:</label>
            <input type="text" class="form-control" id="name" name="name"  required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Описание:</label>
            <textarea class="form-control" onInput="auto_height(this)" name = "description"></textarea>
          </div>
          <div class="mb-3">
            <label for="length" class="form-label">Число морфем:</label>
            <input type="number" class="form-control" id="length" name="length" required>
          </div>
          
          <script>
            function auto_height(elem) {
              // Сбрасываем высоту, чтобы она соответствовала текущему объему текста
              elem.style.height = '1px';
              elem.style.height = `${elem.scrollHeight}px`;
            }
          </script>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
          
        </form>
          
    </div>
{% endblock %}
