{% extends 'base.html' %}

{% block title %}Editor{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{% if gen.protected > 0 %}
          Просмотр {% else %} Редактирование
        {% endif %} </h1>
        
        <form method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Название:</label>
            <input type="text" class="form-control" id="name" name="name" value = "{{ gen.name }}" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Описание:</label>
            <textarea class="form-control" onInput="auto_height(this)" name = "description">{{ gen.description }}</textarea>
          </div>
          <div class="mb-3">
            <label for="length" class="form-label">Число морфем:</label>
            <input type="number" class="form-control" id="length" name="length" value = "{{ gen.length }}" required disabled>
          </div>
          {% if flag_admin %}
          <div class="mb-3">
            <label for="protected" class="form-label">Protected:</label>
            <input type="number" class="form-control" id="protected" name="protected" value = "{{ gen.protected }}" required>
          </div>
          {% endif %}
          {% for suf in sufx %}
          <div class="mb-3">
            <label class="form-label"> Морфема {{ loop.index }} </label>
            <textarea rows="{{ heights[loop.index-1] }}" class="form-control" onInput="auto_height(this)" name = "s{{ loop.index }}">{{ suf }}</textarea>
          </div>
          {% endfor %}
          {% if flag_admin or gen.protected == 0 %}

          <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button> 
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">delete</button>
          </div>

          
          {% else %}

          Не будучи админом редактировать или удалять защищенные генераторы нельзя

          {% endif %}
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Внимание</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Вы уверены?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" name="delete" value="del">Yes</button>
                </div>
              </div>
            </div>
          </div>

          <script>
            function auto_height(elem) {
              // Сбрасываем высоту, чтобы она соответствовала текущему объему текста
              elem.style.height = '1px';
              elem.style.height = `${elem.scrollHeight}px`;
            }

            const myModal = document.getElementById('myModal')
            const myInput = document.getElementById('delete')

            myModal.addEventListener('shown.bs.modal', () => {
              myInput.focus()
            })

            const addBtn = document.getElementById('addBtn');
            var blockNumber = 2;
            addBtn.onclick = () => {
              // Создаем блок и добавляем номер
              const createBlock = document.createElement('input');
              createBlock.className = 'textarea';
              createBlock.value = 'Страница ' + blockNumber;
              blockNumber++;
              addBtn.insertAdjacentElement('beforebegin', createBlock);
            }
          </script>
          
          
        </form>
          
    </div>
{% endblock %}
