{% extends 'base.html' %}

{% block title %}
Мои любимые песни
{% endblock %}

{% block content %}
<h1 class="mb-5">Мои любимые песни</h1>

<div class="card-columns">
  <div class="row">
  {% for song in songs %}
    <div class="col-md-3">
      <div class="card mb-3">
          <div class="card-header fw-bold">{{ song.title }}</div>
          <div class="card-body">
              <p class="badge bg-primary text-wrap">{{ song.album.artist.name }}</p>
              <p class="card-text">Альбом: 
              <strong>{{ song.album.title }}</strong></p>
              <p class="card-text">Длина: {{ song.length }} минут</p>
              <p class="card-text">Номер трека: {{ song.track_number }}</p>
              <p class="card-text">Дата релиза: {{ song.album.year }}</p>
          </div>
      </div>
    </div>
  {% endfor %}
  <div class="col-md-3">
    <div class="card mb-3">
        <div class="card-header fw-bold">vcvcvc</div>
        <div class="card-body">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <div class="mb-3">
                              <label for="artist" class="form-label">Artist:</label>
                              <input type="text" class="form-control" id="artist" name="artist" required>
                            </div>
                            <div class="mb-3">
                              <label for="song" class="form-label">Song:</label>
                              <input type="text" class="form-control" id="song" name="song" required>
                            </div>
                            <div class="mb-3">
                                <label for="album" class="form-label">album:</label>
                                <input type="text" class="form-control" id="album" name="album" required>
                            </div>
                            <div class="mb-3">
                                <label for="year" class="form-label">year:</label>
                                <input type="text" class="form-control" id="year" name="year" required>
                            </div>
                            <div class="mb-3">
                                <label for="length" class="form-label">length:</label>
                                <input type="text" class="form-control" id="length" name="length" required>
                            </div>
                            <div class="mb-3">
                                <label for="number" class="form-label">number:</label>
                                <input type="text" class="form-control" id="number" name="number" required>
                            </div>
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
            <script>
                const myModal = document.getElementById('exampleModal')
                const myInput = document.getElementById('myInput')

                myModal.addEventListener('shown.bs.modal', () => {
                myInput.focus()
                })
            </script>
            <script>
                if ( window.history.replaceState ) {
                    window.history.replaceState( null, null, window.location.href );
                }
            </script>
        </div>
    </div>
  </div>
  </div>
</div>


{% endblock %}