{% extends 'base.html' %}

{% block title %}Смысловолк{% endblock %}

{% block content %}
<div id="user" hidden>{{ user }}</div>
<div id="page" hidden>{{ page }}</div>
<div id="number_of_pages" hidden>{{ number_of_pages }}</div>

<div class="container bg-light">
  <div class="row" id="main">
    
  </div>
</div>

<div class="container bg-light meow">
  <div class="center">
    {% if page|int > 1 %} <a href="/">Первая;</a><a href="?page={{page|int - 1}}"> Предыдущая; </a> {% endif %}
    Страница {{ page }} из {{ number_of_pages }}
    {% if page|int < number_of_pages|int %}  <a href="?page={{page|int + 1}}">Следующая;</a> <a href="?page={{number_of_pages}}">Последняя</a> {% endif %}
  </div>
</div>

<script src="{{ url_for('static', path='src/generate.js') }}"></script>

<script>
  const USER = document.getElementById("user").textContent;
  const PAGE = document.getElementById("page").textContent;

  async function get_generators(page = PAGE, user = USER, url = URL_ROOT) {
    const request = new Request(url + 'generators/' + user + "/?page=" + page);
    let response = await fetch(request);
    if (response.ok) {
      let json = await response.json();
      console.log(json);
      return json;
    } else {
      alert("Ошибка HTTP: " + response.status);
    }  
  }
  
  
  async function main() {
    generators = await get_generators();
    //console.log(generators);  
    for (i = 0; i < generators.length; ++i){
      //console.log(generators[i]);
      create_card(generators[i]);
    }
  }
  
  main();
  
  //console.log(url_root.concat('/gen/admin/slavic'))
  
</script>

{% endblock %}
